name: Monitor Berita Saham

on:
  schedule:
    # Penjelasan Cron:
    # */30 : Setiap 30 menit
    # 1-11 : Jam 01:00 UTC s/d 11:00 UTC (08:00 s/d 18:00 WIB)
    # * : Setiap tanggal
    # * : Setiap bulan
    # 1-5  : Senin s/d Jumat
    - cron: '*/30 1-11 * * 1-5'
  
  workflow_dispatch: # Tombol manual tetap ada

jobs:
  check-news:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run script
      env:
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: python main.py
